<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout::head">
    <title>Tienda</title>
    <meta charset="UTF-8"/>
</head>
<body>
<header th:fragment="navbar-l">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="contenedor-navbar container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{${'/images/epmovil-icono.png'}}"
                     style="width: 50px;" alt="">
                EP-MOVIL
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           th:href="@{/tienda/tienda2}">Tienda</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link active" aria-current="page"
                           th:href="@{/tienda/productos}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           th:href="@{/repara}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           th:href="@{/about}">Conocenos</a>
                    </li>
                </ul>
                <div class="btn-group" role="group" aria-label="Basic
                            outlined example">
                    <div class="items-derecha">
                        <a th:if="${#httpServletRequest.remoteUser}" class="user-link nav-link active"
                           th:href="@{/perfil}">
                            <!-- <button class="btn btn-outline-light" sec:authorize="isAuthenticated()"> -->
                            <b th:inline="text">
                                [[${#httpServletRequest.remoteUser}]]! </b>
                            <!-- </button> -->
                        </a>
                        <a th:href="@{/carrito/productosCarrito}" class="cart">
                            <button id="cart-button" type="button" class="btn btn-light position-relative">
                                <img class="cart-logo"
                                     th:src="@{${'/images/cart3.png'}}"
                                     alt="">


                                <!-- EL SIGUIENTE SPAN DEBERIA TENER ESTO -->
                                <!-- th:text="${items.size}" -->
                                <span class="position-absolute top-0
                                            start-100 translate-middle badge
                                            rounded-pill bg-danger">3</span>
                            </button>
                        </a>

                        <!--Cerrar Sesion-->
                        <form class="boton-derecha"
                              sec:authorize="isAuthenticated()"
                              th:action="@{/logout}" method="post">
                            <button type="submit" class="btn
                                        btn-outline-light">Cerrar sesión
                            </button>
                        </form>

                        <a class="boton-derecha" th:href="@{/login}"
                           sec:authorize="!isAuthenticated()">
                            <button class="btn btn-outline-light">Iniciar</button>
                        </a>

                        <a class="boton-derecha" th:href="@{/registrar}"
                           sec:authorize="!isAuthenticated()">
                            <button class="btn btn-outline-light">Registrar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<footer th:replace="layout::footer"></footer>
</body>
</html>