<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.com.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/layout::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/navbar::navbar-l"></header>
        <br/>
        <div class="container">
            <div class="card bg-light">
                <div class="card-header bg-dark text-white text-center text-uppercase" th:text="${titulo}"></div>      
                <div class="card-body">
                    <img class="img-thumbnail rounded float-left"
                         th:src="@{'/images/'+ ${producto.imagen}}" 
                         alt="${producto.imagen}" style="max-width: 25%"/>
                  
                    <ul class="list-group">
                        <li class="list-group-item" th:text="'NOMBRE DEL PRODUCTO: ' + ${producto.nombre}"></li>
                        <li class="list-group-item" th:text="'PRECIO: $' + ${producto.precio}"></li>
                        <li class="list-group-item" th:text="'STOCK: ' + ${producto.stock}"></li>
                        <li class="list-group-item" th:text="'ESPECIFICACION DEL PRODUCTO: ' + ${producto.especificacion}"></li>
                    </ul>
                </div>
            </div>
        </div>

        <footer th:replace="layout/layout::footer"></footer>
    </body>
</html>
