<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.com.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/layout::head">
    <title>Tienda</title>
    <meta charset="UTF-8"/>
</head>
<body>
<header th:replace="layout/navbar::navbar-l"></header>
<h1>Tienda</h1>
<a th:href="@{/admin/productos-form}">
    <button class="btn btn-outline-dark" aria-label="Basic outlined example">Agregar</button>
</a>
<div>
    <div class="alert alert-success text-center" th:if="${productoGuardado}" th:text="${productoGuardado}"></div>
    <div class="alert alert-success text-center" th:if="${productoModificado}" th:text="${productoModificado}"></div>
    <div class="alert alert-warning text-center" th:if="${productoEliminado}" th:text="${productoEliminado}"></div>
</div>
<div th:if="${listaProductos!= null and !listaProductos.empty}">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${listaProductos}">
            <td>
                <label th:text="${producto.nombre}">
                    <a th:href="@{admin/detalle/} + ${producto.id}">Muestra nombrea</a>
                </label>
            </td>

            <!--                    <td th:text="${producto.imagen}">Muestra imagen</td>-->
            <td th:text="'$ '+ ${producto.precio}">Muestra precio</td>
            <td th:text="${producto.stock}">Muestra stock</td>
            <td>
                <a th:href="@{/admin/modificar/} + ${producto.id}">
                    <!--<a th:href="@{/admin/modificar(id=${producto.id})}"/>-->
                    <button class="btn btn-outline-light">Modificar</button>
                </a>
            </td>
            <td>
                <!--                            <a th:href="@{/}">-->
                <a th:href="@{/admin/eliminar(id=${producto.id})}">
                    <button class="btn btn-outline-light">Eliminar</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${listaProductos == null or listaProductos.empty}">
    </div>
</body>
</html>
