@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');


html, body {
    background-color: rgb(245, 245, 245);
}

.empty-cart-msg {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    width: 100%;
}

.total-container {
    font-family: 'Lato', sans-serif;
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    font-weight: bold;
}

.tarjeta-total {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    position: sticky;
    top: 20px;
}

.tarjeta-carrito-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.tarjeta-total2 {
    background-color: #e0e0e0;
}

.buy-buttons {
    display: flex;
    flex-direction: column;
}

.finalizar-compra {
    color: #FFF;
    font-weight: bold;
    background-color: rgb(35, 114, 61);
    width: 220px;
    height: 45px;
    margin: 5px 0;
}

.continuar-comprando {
    font-weight: bold;
    background-color: #f0f0f0;
    color: #000;
    width: 220px;
    height: 45px;
    margin: 5px 0;
}

.contenedor-tarjetas {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
}

.titulo {
    margin: 20px auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.tarjeta-general {
    display: block;
    width: 700px;
}

.tarjeta-carrito {
    display: flex;
    align-items: center;
    height: 250px;
    box-shadow: 0px 0px 6px 0px rgb(216, 216, 216);
}

.tarjeta-carrito h4 {
    font-size: 1.2rem;
}

.card-title {
    height: 80px;
    width: 100%;
}

.detalle-container {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.detalles-producto-carrito {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.detalles-producto-carrito a {
    text-decoration: none;
    color: #000;
}

.cantidad-div {
    display: flex;
    align-items: center;
}

.cantidad-div h5 {
    margin-top: 20px;
    font-size: 1.2rem;
}

.item-cantidad {
    margin-left: 6px;
}

.eliminar-div {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.imagen-producto {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    margin-left: 20px;
    text-align: center;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}