@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root {
    --main-color: #0cbaeb;
}
body {
    background-image: url(../images/epmovil-fondo-repara.jpg);
    background-size: 50%;
    background-position: top;
    /* background-color: rgb(245, 245, 245); */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container h1 {
    font-family: 'Lato', sans-serif;
    margin: 20px auto;
}

.repara-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.detalle {
    resize: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
}

.enviar {
    margin-top: 20px;
}

.detalle-label {
    font-size: 1.2rem;
}

